fastapi==0.116.1
pillow==11.3.0
pydantic==2.11.9
pydantic_core==2.33.2
PyMuPDF==1.26.4
pytesseract==0.3.13
python-multipart==0.0.20
uvicorn==0.35.0
olefile==0.47
pymupdf4llm==0.2.7
numpy==2.2.6
easyocr==1.7.2
ollama==0.6.1

